.individual-question {
    margin-top: 20px;
    padding: 15px;
    background-color: rebeccapurple;

}

.answer-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 170px;
    text-align: center;
}