.individual-question-card {
    margin-top: 15px;
    padding: 10px;
    background-color: rebeccapurple;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 170px;
    text-align: center;
}

.card-question {
    text-align: center;
    color: white;
}