.individual-question-card {
    margin-top: 50px;
    padding: 10px;
    background-color: cadetblue;
}

.answer-buttons {
    width: 170px;
    margin-bottom: 10px;
    font-size: 13px;
    margin-left: 16px;
}

.answer-buttons:hover{
    background-color: blanchedalmond;
}

.card-question {
    text-align: center;
    color: white;
    font-size: 20px
}